h1 {
    font-size: 120px;
    color: white;
    background-image: url(https://media.istockphoto.com/id/969582980/photo/close-up-of-baked-beans-in-a-pan.jpg?s=1024x1024&w=is&k=20&c=WNOZBTnuJFurGMhTf9AE6Dqvb5gVJRPnzYGRQb7drsk=);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#me {
    display: inline-block;
    border: 2px solid white;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    margin: 0 100px;

}

.image-row {
    text-align: center;
}

h2 {
    font-size: 80px;
    text-align: center; 
    color: white;
}

body {
    background: linear-gradient(to bottom, navy, aliceblue);
    font-family: Arial, Helvetica, sans-serif
}

p {
    text-align: center;
    color: white;   
    font-size: 50px;
}

#two {
    font-weight: bold;
    font-size: 24px;
    color: black;
}

li {
    font-size: 24px;
    padding: 15px;
    position: relative;
    left: 100px;

}
